main{
    background-color: #ff6347;
    width: auto;
    height: 600px;
}

.topbar{
    display: flex;
    flex-flow: row wrap;
}

#add{
    height: 45px;
    margin:20px;
    border:none; 
    border-bottom:1px solid black;
    background-color: #ff6347;
    font-size: 20px;
    opacity: 0.5;
    flex-grow:3;
}

.topbar>button{
    height: 50px;
    font-size: 20px;
    background-color: #ff6347;
    border:none; 
    flex-grow:1;
    margin:20px;
}

.items{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
}

.itemID{
    height: 120px;
    width: 250px;
    background-color: #ffe8e4;
    border-radius:3px;
}

.itemID>p{
    font-size: 20px;
    margin-top:0;
    margin-left: 15px;
    font-weight :bold;
}
.itemID>#itemcom{
    background-color: #60ec48;
    margin-top:15px;
    margin-left: 15px;
    height: 40px;
    width: 110px;
    padding: 10px;
    text-align: center;
}
.itemID>#itemdele{
    background-color: #f44336;
    margin-top:15px;
    height: 40px;
    width: 110px;
    padding: 10px;
    text-align: center;
}

.addeditems{
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
}

.addone{
    margin-top:6px;
    margin-bottom: 6px;
    height: 120px;
    width: 250px;
    background-color: #ffe8e4;
    border-radius:3px;
}

.addone>p{
    font-size: 20px;
    margin-top:0;
    margin-left: 15px;
    font-weight :bold;
}
.itemcom{
    background-color: #60ec48;
    margin-top:15px;
    margin-left: 15px;
    height: 40px;
    width: 110px;
    padding: 10px;
    text-align: center;
}
.itemdele{
    background-color: #f44336;
    margin-top:15px;
    height: 40px;
    width: 110px;
    padding: 10px;
    text-align: center;
}

.bottombar{
    display: flex;
    flex-flow: row wrap;
    background-color: #ff6347;
    height: 100px;
    width: auto;
}

.bottombar>button{
    height: 40px;
    font-size: 20px;
    background-color: #ff6347;
    border:none; 
    flex-grow:1;
    margin:20px;
}