.header{
    height: 30px;
    display: inline-block;
}

input{
    height: 20px;
    width: 100px;
    padding: 2px;
   
}

button{
    height: 25px;
    width: 70px;
}

container{
    height: 500px;
}

