@import "styles2";
$thickness: 10px;
//Exercise-1
$color: #BC2929;
body{
    color:$color;
}

//Exercise-2

// nav{
//     ul{
//         font-weight: bold;
//         padding: 5px;
//         margin: 0;
//         list-style-type: none;
//     }
//     a{
//         text-decoration: none;
//         color: red;
//     }
// }

//Exercise-3 style2.scss

//Exercise-4,5 mixin
@mixin border{
    border-width: $thickness;
    border-color: #000000;
    @content;
    border-style: solid
    
}

img{
    @include border;  
}