@import "styles2";
$thickness: 10px;
$color: #BC2929;
$page-width: 1400px;
$padding: 20px;

//Exercise-1
body{
    color:$color;
}

//Exercise-2

// nav{
//     ul{
//         font-weight: bold;
//         padding: 5px;
//         margin: 0;
//         list-style-type: none;
//     }
//     a{
//         text-decoration: none;
//         color: red;
//     }
// }

//Exercise-3 style2.scss

//Exercise-4,5 mixin
@mixin border{
    border-width: $thickness;
    border-color: #000000;
    @content;
    border-style: solid
    
}

img{
    @include border;  
}

.push-button{
    background-color: blue;
    font-weight: bold;
    color: black;//ex8
    &:focus{color: red;}  
}

.main-button{
    @extend .push-button;
}

//ex7
#container{
    padding: $padding;
    width: (0.8*$page-width)-(2*$padding);
    background-color: greenyellow;
}