.picture{
    height: 330px;
    width:640px;
    margin: auto;
    text-align: center;
}

.thumbnails{
    width: 800px;
    height: 120px;
    margin: auto;
    text-align: center;
    padding: 20px;
}