body{
    background:linear-gradient(to bottom, white, grey);
}
.container{
    width: 1280px;
    margin: auto;
    margin-top:40px;
   /*position: absolute;
    top: 100px;*/
}

.photoViewer{
    /*background-color: red;*/
    width: 1128px;
    height: 432px;
    margin: auto;
    
}

.photoViewer img{
    width: 968px;
    height: 432px;
}

.thumbnails{
    width:800px;
    height: 100px;
    margin: auto;
    position: relative;
    top: 10px;
}

.thumbnails img{
    width: 100px;
    height: 80px;
    padding: 12px;
    display: inline-block;
}


.intro{
    float: left;
    background-color: black;
    height: 200px;
    width: 968px;
    opacity: 0.5;
    float: left;
    position: absolute;
    top: 271px;
    left: 199px;
}

h1{
    color: white;
}

p{
    color:white;
    font-size: 20px;
}

button {
    width: 80px;
    height: 432px;
}

button.left{
    background: url('./image/arrow.svg') no-repeat center;
    float: left;
}

button.right{
    background: url('./image/arrow.svg') no-repeat center;
    float: right;
    transform: rotate(180deg);
}

